* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 151, 167);
}

#calculator {
  height: 630px;
  width: 515px;
  box-sizing: content-box;
  border: 10px solid rgb(53, 53, 53);
}

#display {
  min-height: 10vh;
  width: 515px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  align-items: center;
  font-size: 60px;
  font-weight: 500;
  background-color: rgb(194, 177, 156);
  border-bottom: 10px solid rgb(53, 53, 53);
}

.buttoncontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  background-color: rgb(134, 169, 209);
}

.button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  font-size: 40px;
  font-weight: 600;
  background-color: rgb(74, 112, 59);
  margin: 10px;
}

#zero {
  width: 220px;
}